include ../../../.node-red-dxp/pug/helper

mixin pkgBetaWarning
    .alert.alert-info
        | Node is in Beta state.

mixin pkgComingSoon
    .alert.alert-info.italic
        | Coming soon...

mixin commonRequestFields(params)
    +dxpFormRowInputText({
        id: 'defaultArgsHeaders',
        label: 'Headers',
        icon: 'table',
        isTyped: true,
        placeholder: 'Headers',
        isConfig: params.isConfig
    })
        +dxpHint
            if params.isConfig
                | Defaults request headers
            else
                | Request headers (merge and override client)
            |  (json)
    +dxpFormRowInputText({
        id: 'defaultArgsQueryParams',
        label: 'Params',
        icon: 'table',
        isTyped: true,
        placeholder: 'Params',
        isConfig: params.isConfig
    })
        +dxpHint
            if params.isConfig
                | Defaults request query params
            else
                | Request query params (merge and override client)
            |  (json)

mixin requestFieldsKeepAlive(params)
    +dxpFormRowInputText({
        id: 'connectionKeepAlive',
        label: 'Keep-Alive',
        isTyped: true,
        isConfig: params.isConfig
    })
        +dxpHint Must be a number in ms (0 is off)

mixin requestFieldsConnectionTimeout(params)
    +dxpFormRowInputText({
        id: 'connectionTimeout',
        label: 'Timeout',
        icons: 'clock-o',
        placeholder: 'Timeout',
        isTyped: true,
        isConfig: params.isConfig
    })
        +dxpHint Must be a number in ms

mixin requestAdvancedFields(params)
    - var params = params ?? {}
    +dxpFormTitleSeparator('TLS')
    +dxpFormRowInputText({
        id: 'caRejectUnauthorized',
        label: 'Reject',
        placeholder: 'Reject Unauthorized',
        isTyped: true,
        isConfig: params.isConfig
    })
        +dxpHint Verify server certificate

mixin requestAuthFields(params)
    - var params = params ?? {}
    +dxpFormRowSelect({ id: "requestAuthKind", label: "Type", isConfig: params.isConfig })
    div.auth-cred-container.hidden
        +dxpFormRowInputText({
            id: 'requestAuthUsername',
            label: 'Username',
            icons: 'user',
            isTyped: true,
            isConfig: params.isConfig
        })
        +dxpFormRowInputText({ id: 'requestAuthPasswordSecret', label: 'Password', icon: 'lock', isConfig: params.isConfig })(type="password")
    +dxpFormTitleSeparator('Bearer Token')
    +dxpFormRowInputText({
        id: 'requestAuthBearerToken',
        label: 'Bearer Token',
        placeholder: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...',
        isTyped: true,
        isConfig: params.isConfig
    })
