include ../../../../.node-red-dxp/pug/helper
include ../../../common/editor/commonFields

+dxpFormRowInputText({ id: 'name', label: 'Name', icon: 'tag', isConfig: true })
+dxpTabs('tabs')
    #tab-endpoint.hidden
        +dxpFormRowInputText({ id: 'baseUrl', label: 'Base URL', icon: 'globe', placeholder: 'Base URL', isConfig: true })
        +commonRequestFields({ isConfig: true })
        +requestFieldsKeepAlive({ isConfig: true })
        +requestFieldsConnectionTimeout({ isConfig: true })
    #tab-auth.hidden
        +requestAuthFields({ isConfig: true })
    #tab-advanced.hidden
        +requestAdvancedFields({ isConfig: true })
